<div class="jumbotron">
    <h1 class="display-4">Hello, {{nombre}}</h1>
    <p class="lead">Actualmente te encuentras en <strong>{{ubicacion}}</strong></p>
    <hr class="my-4">
    <p>{{getAnio}}</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>